.stop-point-name {
    font-size: 47px;
    line-height: 55px;
}

.line-name {
    float: left;
    color: #c33;
}

.expected-arrive {
    float: right;
    font-weight: bold;
}

.active a {
    color: white;
}

.well .favourite-star {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0%,-50%);
    font-size: 50px;
}

.favourite-star.active {
    color: #F4DF63;
    /*color:#F1FF4F*/
}